<div class="card articleInfo">
  <!--Property binding-->
  <img [src]="urlImg" [alt]="textAltImg">
  <div class="card-body">
    <!--Data binding-->
    <h5 class="card-title" [ngStyle]="{color: getColor()}">
      {{ titreArticle | uppercase }}
      <span *ngIf="!dispo"> - Indisponible</span>
    </h5>
    <h6 class="card-title"> {{ prixArticle }} €</h6>
    <p class="card-text"> {{ description }} </p>

    <a routerLink="/details/{{ idArticle }}"> => Voir l'article</a>
    <hr>

    <!--Event binding-->
    <button
      (click)="onLike()"
      [ngClass]="{
        'show': jaime,
        'hidden': !jaime
      }"
    >J'aime</button>

    <button class="nolike" (click)="onLike()"
            [ngClass]="{
        'show': !jaime,
        'hidden': jaime
      }"
    >Je n'aime pas</button>

    <p>Nombre de like : {{ totalNbrLike }}</p>

    <!--Two way binding-->
    <input type="text" placeholder="Ecris ton commentaire" [(ngModel)]="comment"/>
    <p>Commentaire: {{ comment }}</p>
  </div>
</div>
